/* ----------------------
CSS TABLE OF CONTENTS 
# BASE CONTENT (GLOBALS)
    # RESET
    # COLORS
    # TYPOGRAPHY
        # BODY
        # HEADINGS
        # PARAGRAPHS
        # LINKS
        # LISTS
        # BLOCK QUOTES
        # HELPERS
    # MEDIA
        # IMAGES (Responsive)
    # COMPONENTS/UI ELEMENTS
        # BUTTONS
# BASE LAYOUT
    # CONTANER
    # MEDIA QUERIES
    # GRID SYSTEM
# SITE STRUCTURE
    # SITE HEADER
        # SITE ID
    # SITE MAIN
    # SITE FOOTER
    # SITE NAVIGATION
        # TOGGLE NAV
    # SECTIONS
    # SUB PAGES
    # ARTICLES
--------------------- */

/* GLOBAL RESETS */
body { margin: 0; }
* { box-sizing: border-box; }

/* TYPOGRAPHY */

body ,p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%; /* 14px = 1em */ 
    line-height: 1.5;
    color: rgba(0,0,0,1);
}

/* HEADINGS */
/* 
    Based on a Traditional Typographic Scale
    h1, h2, h3, h4, h5, h6 
    48, 36, 24, 21, 18, 16
*/

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3em; /* 48px */
    line-height: 1;
}

h2 {
    font-size: 2.25em; /* 36em */
    line-height: 1.1;
}
h3 {
    font-size: 1.5em; /* 24em */
    line-height: 1.2;
}
h4 {
    font-size: 1.3125em; /* 21em */
    line-height: 1.3;
}
h5 {
    font-size: 1.125em; /* 18em */
    line-height: 1.4;
    
}
h6 {
    font-size: 1em; /* 16em */
    line-height: 1.5;
    
}

/* PARAGRAPHS */ 
p {
    margin: .5m 0;
    max-width: 38em;
}

/* LINKS */ 
a {
    color: rgba(0,0,153,0.8);
    text-decoration: none;
 }
 a:hover {
     color: rgba(0,0,153,1);
     text-decoration: underline;
 }

 /* HELPER CLASSES */
 .text-centered {
     text-align: center;
 }

 .hidden {
     position: absolute;
     top: -9999px;
     left: -9999px;
 }

 /* IMAGES */
 img {
     max-width: 100%;
     height: auto;
 }

 /* BUTTONS */
    .button,
    button,
    form input[type="submit"] {
     font-size: inherit;
     line-height: 1;
     background-color: #F5AD20;
     border: 1px solid #F5AD20;
     color: rgba(0,0,0,1);
     padding: 1em 1.5em;
     display: inline-block;
     margin: .5em .5em .5em 0;
     text-align: center;
     border-radius: .5em;
    }

    .button:hover,
    button:hover,
    form input[type="submit"]:hover {
     background-color: rgb(0, 0, 153,1);
     border-color: rgba(0,0,153,1);
     color: rgba(255,255,255,1);
     text-decoration: none;
    }

    .button.alt {
     background-color: transparent;
     color: rgba(0,0,153,1);
    }

    .button.alt:hover {
     background-color: rgba(0,0,153,1);
     color: rgba(255,255,255,1);
    }



/* SIMPLE RESET */
* { box-sizing: border-box; }
body { margin: 0;}

/* BASE LAYOUT */

/* CONTAINER */

/* MEDIA QUERIES */ 
/* FOR SMALL-SIZED SCREENS (and Larger) */
body {
    font-size: 87.5% /* 14px */
}

.container {
    padding: 0 1em;
    margin: 0 auto;
    /* overflow-x: hidden; */
}

@media (min-width: 768px) {
    .hidden-desktop {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 100%; /* 16px */;
    }
}

@media (min-width: 1250px) {
    body {
        font-size: 112.5% /* 18px */;
    }
    .container {
        max-width: 1200px;
    }
}


/* SEMANTIC GRID SYSTEM */

.column {
    margin-top: 1%;
    margin-bottom: 1%;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        margin-left: -1%;
        margin-left: -1%;
    }
    .column {
        flex-grow: 0;
        margin-left: 1%;
        margin-right: 1%;
    }
    .one-whole { width: 100%; }
    .one-half { width: 48%; }
    .one-third { width: 31.3333%; }
    .push-one-third { margin-left: 34.3333%; }
    .two-thirds { width: 64.6666%; }
    .one-fourth { width: 23%; }
    .push-one-fourth { margin-left: 26%; }

    .row.centered {
        justify-content: center;
    }

    .column.centered {
        margin-left: auto;
        margin-right: auto;
    }

}

    .one-third, .two-thirds , three-fourth {
    border: 1px solid orange;

    .two-thirds-column {
        background-size: cover;
    }
}

/* site structure  */

/* site header */
.site-header {
    padding: 1em .5em;
}


/* on larger screens place logo to left and nav right*/
@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* styling for both header and footer */
.site-header a,
.site-footer a {
    color: rgba(0,0,0,.8);
}
.site-header a:hover,
.site-footer a:hover {
    color: rgba(0,0,0,1);
    text-decoration: none;
    
}
 
/* logo area */
.site-id h1 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
}

/* site nav */
.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}


.site-nav a {
    display: block;
    padding: 1em; 
}

.site-nav .menu-button {
    display: none;
}

/* sections */
section {
    padding: 0;
}

section .row p {
    color: rgba(0,0,0,1)
}

/* hero  */

.hero {
    padding: 6em 4%;
    text-align: center;
    background-image: url(../images/blondies-hero.jpg);
    background-size: cover;
    
}

.hero h1, p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.hero p ,h1 {
    color: rgba(255,255,255,1);
}



/* toggle nav */

@media (max-width: 767px) {

    .toggle-nav .site-id h1 {
        text-align: left;
    }
    .toggle-nav .site-id {
        position: absolute
    }
    .toggle-nav .site-nav {
        text-align: right;
    }
    .toggle-nav .menu-button {
        display: block;
        display: inline-block;
        cursor: pointer;
        padding: .3em .8em;
        margin: .8em 0;
        border: 1px solid black;
    }
    .toggle-nav .menu-button::selection {
        background-color: rgba(255,255,255,0);
    }
    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }
    .toggle-nav .site-nav a:hover {
       background-color: rgba(0,0,153,1);
       color: white;
    }
    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

    /* navicon */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(255,255,255,0);
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        padding: 0;
        margin: 0;
        color: rgba(0,0,0,.8);
        font-size: 1.5em;
    }

    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }
}

/* sub pages */

article {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

article h1, .subhead, .date {
    text-align: center;
}

article h3 .subhead {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2;
    opacity: .7;
}

article .date {
    font-size: .75em;
    opacity: .7;
    margin-bottom: 3em;
}

article p + h1,
article p + h2,
article p + h3,
article p + h4,
article p + h5,
article p + h6 {
    margin-top: 3em;
}

article p:first-of-type {
    font-size: 1.4em;
    line-height: 1.3;
}

/* forms */

form {
    max-width: 600px;
    margin: 2em auto;
}

form label,
form input,
form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
}

form input[type="text"],
form textarea {
    border: 1px solid #ccc;
    padding: .5em;
    color: #667
}

form textarea {
    min-height: 10em;
    line-height: 1.5;
}

form label {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

form input[type="submit"] {
    margin-top: 1.5em;
    width: auto;
}

/* custom site CSS */

/* ------ images ------- */

img {
    max-width: 100%;
    height: auto;
  }

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
  }

.section-title {
    text-align: center;
    margin-bottom: 3em;
}

.section-title::after {
    content: "";
    display: block;
    width: 100px;
    margin: .5em auto;
    border-bottom: 3px solid rgba(0,0,0,.2);
}

/* ------ media queries------- */

/* SMALL */

/* MEDIUM */
@media (min-width: 768px) {
}

/* LARGE */
@media (min-width: 1050px) {
}

/* FOR DEV PURPOSES ONLY */

/* body, *:after, *:before {
    background: none !important;
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
 }
 
 img, svg, canvas, video {
     filter: contrast(0%);
 }  */



 .column .images {
    background-image: ;
 }

 .hero {
     grid-column: 3;
     grid-row: 1;
 }

 .column one-third {
     justify-content: center;
 } 

 .column three-fourths {
     border: 1px solid orange
 }

 /* MENU */

 .menu .row {
     column-fill: balance;
 }