/* ----------------------
CSS TABLE OF CONTENTS 
# BASE CONTENT (GLOBALS)
    # RESET
    # COLORS
    # TYPOGRAPHY
        # BODY
        # HEADINGS
        # PARAGRAPHS
        # LINKS
        # LISTS
        # BLOCK QUOTES
        # HELPERS
    # MEDIA
        # IMAGES (Responsive)
    # COMPONENTS/UI ELEMENTS
        # BUTTONS
# BASE LAYOUT
    # CONTANER
    # MEDIA QUERIES
    # GRID SYSTEM
# SITE STRUCTURE
    # SITE HEADER
        # SITE ID
    # SITE MAIN
    # SITE FOOTER
    # SITE NAVIGATION
        # TOGGLE NAV
    # SECTIONS
    # SUB PAGES
--------------------- */

/* GLOBAL RESETS */
body { margin: 0; }
* { box-sizing: border-box; }

/* TYPOGRAPHY */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%; /* 14px = 1em */ 
    line-height: 1.5;
    color: rgba(0,0,0,1);
}

/* HEADINGS */
/* 
    Based on a Traditional Typographic Scale
    h1, h2, h3, h4, h5, h6 
    48, 36, 24, 21, 18, 16
*/

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3em; /* 48px */
    line-height: 1;
}

h2 {
    font-size: 2.25em; /* 36em */
    line-height: 1.1;
}
h3 {
    font-size: 1.5em; /* 24em */
    line-height: 1.2;
}
h4 {
    font-size: 1.3125em; /* 21em */
    line-height: 1.3;
}
h5 {
    font-size: 1.125em; /* 18em */
    line-height: 1.4;
    
}
h6 {
    font-size: 1em; /* 16em */
    line-height: 1.5;
    
}

/* PARAGRAPHS */ 
p {
    margin: .5m 0;
    max-width: 38em;
}

/* LINKS */ 
a {
    color: rgba(0,0,153,0.8);
    text-decoration: none;
 }
 a:hover {
     color: rgba(0,0,153,1);
     text-decoration: underline;
 }

 /* HELPER CLASSES */
 .text-centered {
     text-align: center;
 }

 /* IMAGES */
 img {
     max-width: 100%;
     height: auto;
 }

 /* BUTTONS */
    .button,
    button {
     font-size: inherit;
     line-height: 1;
     background-color: rgba(0,0,255,1);
     border: 1px solid rgba(0,0,255,1);
     color: rgba(255,255,255,1);
     padding: 1em 1.5em;
     display: inline-block;
     margin: .5em .5em .5em 0;
     text-align: center;
     border-radius: .5em;
    }

    .button:hover,
    button:hover {
     background-color: rgb(0, 0, 153,1);
     border-color: rgba(0,0,153,1);
     color: rgba(255,255,255,1);
     text-decoration: none;
    }

    .button.alt {
     background-color: transparent;
     color: rgba(0,0,153,1);
    }

    .button.alt:hover {
     background-color: rgba(0,0,153,1);
     color: rgba(255,255,255,1);
    }



/* SIMPLE RESET */
* { box-sizing: border-box; }
body { margin: 0;}

/* BASE LAYOUT */

/* CONTAINER */

/* MEDIA QUERIES */ 
/* FOR SMALL-SIZED SCREENS (and Larger) */
body {
    font-size: 87.5% /* 14px */
}

.container {
    padding: 0 1em;
    margin: 0 auto;
    /* overflow-x: hidden; */
}

@media (min-width: 768px) {
    /* TABLET SIZED STYLING GOES HERE */
}

@media (min-width: 1000px) {
    body {
        font-size: 100%; /* 16px */;
    }
}

@media (min-width: 1250px) {
    body {
        font-size: 112.5% /* 18px */;
    }
    .container {
        max-width: 1200px;
    }
}


/* SEMANTIC GRID SYSTEM */

.column {
    margin-top: 1%;
    margin-bottom: 1%;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        margin-left: -1%;
        margin-left: -1%;
    }
    .column {
        flex-grow: 0;
        margin-left: 1%;
        margin-right: 1%;
    }
    .one-whole { width: 100%; }
    .one-half { width: 48%; }
    .one-third { width: 31.3333%; }
    .push-one-third { margin-left: 34.3333%; }
    .two-thirds { width: 64.6666%; }
    .one-fourth { width: 23%; }
    .push-one-fourth { margin-left: 26%; }

    .row.centered {
        justify-content: center;
    }

    .column.centered {
        margin-left: auto;
        margin-right: auto;
    }

}

/* site structure  */

/* site header */
.site-header {
    padding: 1em .5em;
}

/* on larger screens place logo to left and nav right*/
@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* styling for both header and footer */
.site-header a,
.site-footer a {
    color: rgba(0,0,0,.8);
}
.site-header a:hover
.site-footer a:hover {
    color: rgba(0,0,0,1);
    text-decoration: none;
    
}
 
/* logo area */
.site-id h1 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
}

/* site nav */
.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}


.site-nav a {
    display: block;
    padding: 1em; 
}

.site-nav .menu-button {
    display: none;
}

/* sections */
section {
    padding: 4em 0;
}

/* hero  */

.hero .container {
    padding: 6em 4%;
    background-color:rgba(0,0,0,.1);
    text-align: center
}

.hero h1, p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* toggle nav */

@media (max-width: 767px) {

    .toggle-nav .site-id h1 {
        text-align: left;
    }
    .toggle-nav .site-id {
        position: absolute
    }
    .toggle-nav .site-nav {
        text-align: right;
    }
    .toggle-nav .menu-button {
        display: block;
        display: inline-block;
        cursor: pointer;
        padding: .3em .8em;
        margin: .8em 0;
        border: 1px solid black;
    }
    .toggle-nav .menu-button::selection {
        background-color: rgba(255,255,255,0);
    }
    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }
    .toggle-nav .site-nav a:hover {
       background-color: rgba(0,0,153,1);
       color: white;
    }
    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

    /* navicon */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(255,255,255,0);
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        padding: 0;
        margin: 0;
        color: rgba(0,0,0,.8);
        font-size: 1.5em;
    }

    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }

    
}