/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE START
        #HTML5
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HELPERS
        #MEDIA
            #IMAGES
            #VIDEOS
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #MEDIAQUERIES
        #CONTAINER
        #GRID
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                #SITE-BRANDING (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)

  
--------------------------------- */
/* #HTML5 */
header,
section,
footer,
aside,
nav,
main,
article,
figure,

/* #TYPOGRAPHY  */

body {
  font-family: maple-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(236, 236, 236);
  font-size: 87.5%;
  /* 14px; */
  line-height: 1.5em;
  /* 14px x 1.5em = 21px */
}

h1 {
  font-family: "ivypresto-headline", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "maple-web", sans-serif;
  font-weight: 400;
}

a {
  font-family: "maple-web", sans-serif;
  font-weight: 400;
}

/* #LINKS */
a {
  color: #bbb;
  text-decoration: none;
}

a:hover {
  color: #ffae0e;
}

/* #BUTTONS */
button {
  font-size: inherit;
}

button,
a.button {
  text-transform: none;
  letter-spacing: 0.15em;
  font-size: 80%;
  display: inline-block;
  background-color: #bbb;
  border: 1px solid #bbb;
  color: #fff;
  padding: 0.8em 1em 0.65em 1em;
  -webkit-border-radius: 0.32em;
  -moz-border-radius: 0.32em;
  border-radius: 0.32em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  cursor: pointer;
  line-height: 1em;
  transition: all ease-in-out 0.4s;
}

button.alt,
a.button.alt {
  background-color: rgba(255, 255, 255, 0);
  border: 0.05em solid #dedede;
  color: #bbb;
}

button:hover,
a.button:hover,
button.active:hover,
a.button.active:hover {
  background-color: #ffae0e;
  color: black;
  border-color: #ffae0e;
  text-decoration: none;
}

button:focus,
a.button:focus {
  outline: none;
}

button.active,
a.button.active {
  background-color: #f5f5f5;
  border-color: #bbb;
}

/* LAYOUT */
/*
#MEDIA QUERIES (Mobile First)
	#DEFAULT/SMALL+ (Mobile First - Default Settings Outside of Media Queries)
	#MEDIUM+ (Tablet) - min-width: 768px
  #LARGE+ (Desktop) - min-width: 1150px
  
/* SMALL+ (Mobile First Defaults) */
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 92%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
}

/* #LARGE+ MEDIA QUERY */
@media (min-width: 1150px) {
  /* LARGE BODY TYPE */
  body {
    font-size: 100%; /* 16px; */
  }
}


/* Header & Footer */
.site-header {
  /* border-bottom: 1px solid #eee; */
  padding-bottom: 0.5em;
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-branding {
  padding-left: 1em;
}

@media (min-width: 768px) {
  .site-header {
    padding-top: 1em;
  }
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}





/* #SITE NAVIGATION  */
/* Default Site-Navigation Menu (both header & footer) */
.site-navigation {
  text-transform: none;
  letter-spacing: 0.15em;
  font-size: 80%;
  text-align: center;
  margin-right: 1em;
}
.site-navigation .menu-button {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
.site-navigation ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  display: inline-block;
}

.site-navigation li a {
  display: block;
  padding: 1em;
}

.site-navigation li.selected a {
  border-bottom: 0.05em solid #dedede;
  padding-bottom: 0.95em;
  color: black;
}

/* Main Site Section (Main Content Area) */

/* Main Sections */



section {
  padding: 1.5em 0;
  margin-bottom: 1em;
}

/* FORMS */
/* form {
  margin: 1.75em 0;
}

form label {
  display: block;
}

form input,
form textarea {
  font-family: maple-web, sans-serif;
  font-size: 1em;
  line-height: 1.15em;
  display: block;
  margin-bottom: 1.25em;
  width: 100%;
  color: #666;
  padding: 0.25em;
  border: 1px solid #ccc;
}

form textarea {
  border: 1px solid #ccc;
  min-height: 6em;
}

form input[type="button"],
form input[type="submit"],
form input[type="reset"] {
  width: auto;
  background-color: #39c;
  border: 1px solid #39c;
  color: #fff;
  padding: 0.75em 1em;
  -webkit-border-radius: 0.32em;
  -moz-border-radius: 0.32em;
  border-radius: 0.32em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
form input[type="button"]:hover,
form input[type="submit"]:hover,
form input[type="reset"]:hover {
  background-color: #069;
  border-color: #069;
} */

/* #SITE SPECIFIC CUSTOM CSS (e.g. Base Overrides)
--------------------------------- */





.site-navigation {
  font-family: maple-web, sans-serif;
  font-weight: 400;
}


/* VIDEO BACKGROUND */

.full-screen-video-container > video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-hero-content .text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  /* color: #F2C94C; */
  /* background-color: chocolate; */
  font-size: 2em;
  text-align: center;
  line-height: 1.75em;
}

/* Work Section */
/* section.work {
  position: absolute;
  width: 100vw;
  height: 720px;
  top: 1000px;
  background: chocolate;
  padding-top: 10em;
  padding-bottom: 10em;
} */


/* animated logo */

.site-header a {
    display: block;
    max-width:350px;
    max-height:111px;
    width: auto;
    height: auto;
  }

  /* portrait sizing */

.one-half.column img {
  max-height: 450px;
}

